* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 15px 15%;
}
form header {
  margin: 0 0 20px 0;
}
form header div {
  font-size: 90%;
  color: #999;
}

h1 {
	background: #43D1AF;
	padding: 20px 0;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

form > div {

  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  font: 120% Arial, Helvetica, sans-serif;
	padding: 0.6%;
	width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 70%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=password],
input[type="submit"],
input[type="button"],
textarea {
  width: 60%;
}

input[type="submit"],
input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 140%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
  outline: 0;
}

input[type="submit"]:hover,
input[type="button"]:hover{
	background: #2EBC99;
}

input[type="submit"]:active,
input[type="button"]:active{
		background: #20876d;
	  border-bottom: 2px solid #20876d;
}

input[type=text],
input[type=email],
input[type=url],
input[type=number],
input[type=password],
textarea {
  -webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
  outline: none;
  background: #fff;
	border: 1px solid #ccc;
  margin-bottom: 1%;
  padding: 1%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}

input[type=color]{
  background: #fff;
  vertical-align: top;
  padding: 0%;
  border: 0px;
  height: 38px;
  width: 10%;
}

input[type=number]{
  width: 15%;
}
select{
  margin-top: 1%;
  height: 30px;
  width: 33%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 800px) {
  form > div {
    margin: 0 0 15px 0;
  }
  body {
    padding-top: 16px;
    padding-left: 0%;
    padding-right: 0%;
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=number],
  input[type=password],
  input[type=submit],
  input[type=button],
  textarea{
    width: 100%;
  }

  input[type=color],
  select{
    width: 49%;
  }
}

@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}